page-earnings {
    
    .scroll-content {
        margin-top: 0 !important;
    }
    
    .has-refresher > .scroll-content {
        border-top: 0;
    }
    
    .toolbar-title-ios {
        color: #ffffff;
        letter-spacing: 1px;
    }
    
    .footer-ios .toolbar-background-ios,
    .header-ios .toolbar-background-ios {
        border-color: transparent;
        background: transparent;
    }
    
    .julius-back {
        background:  #50BEEF;
        background-size: 400% 400%;
        height: 100%;
        text-align: center;
        padding-top: 120px;
        color: white;
        position: relative;
        -webkit-animation: AnimationName 6s ease infinite;
        -moz-animation: AnimationName 6s ease infinite;
        animation: AnimationName 6s ease infinite;
    }
}
